<html>
    <head>
        <title>设置抛出监视</title>
    </head>
    <body>
        <form name="stock" action="startSellMonitor" method="post">
            股票编号: 
            <input type="text" name="code" />
            <br />
            买入价格: 
            <input type="text" name="buyprice" />
            <br />
            今天开始: 
            <input type="text" name="todaystart" />
            <br />
            是否稳定: 
            <input type="text" name="isstable" />
            <br />
            <input type="submit" value="提交" />
        </form>
    </body>
<html>
