<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <title>Bootstrap Modals Example</title> 
        <meta name="description" content="Creating Modal Window with Bootstrap">
        {% load staticfiles %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Example of creating Modals with Bootstrap</h2>
            <div id="example" class="modal hide fade in" style="display: none; ">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>This is a Modal Heading</h3>
                </div>
                <div class="modal-body">
                    <h4>Text in a modal</h4>
                    <p>You can add some text here.</p>		        
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success">Call to action</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
            <p><a data-toggle="modal" class="btn btn-primary btn-large">Launch demo modal</a></p>
        </div>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap-modal.js' %}"></script>
        <script language="javascript">
        $(document).ready(function(){
            // $("#myModal").modal();
            $("#example").modal();
        });
        </script>
    </body>
</html>
