<html>
    <head>
        <title>Bootstrap 实例 - 边框表格</title>
        {% load staticfiles %}
        <meta name="description" content="Creating Modal Window with Bootstrap">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>

        <table class="table table-bordered">
            <caption></caption>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>礼金</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bill_list %}
                    <tr>
                        <td>{{ bill.name }}</td>
                        <td>{{ bill.money }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="add" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
            Add+
        </button>
        <label style="position:fixed;right:140">总计： </label>
        <label style="position:fixed;right:100" id="total">{{ total }}</label>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
                    </div>
                    <div class="modal-body">
                        <label>姓名: </label>
                        <input type="text" id="name" placeholder="姓名">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>礼金: </label>
                        <input type="text" id="money" placeholder="礼金">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-modal.js' %}"></script>
        <script>
            $("#add").on("click", function(){
                $("#myModal").modal();
            });

            $("#submit").on("click", function(){
                var name = $("#name").val();
                var money = Number($("#money").val());

                $.post('add', {"name": name, "money": money}, function(data){
                   result = JSON.parse(data);
                   if(result['status'] == "SUCCESS"){
                       addDom(name, money);
                       var total = $("#total");
                       totalValue = Number(total.text()) + money;
                       total.text(totalValue.toString());
                   }else{
                   }
                });
                $("#myModal").modal('hide');
            });
            function addDom(name, money){
                var list = $(".table tbody");
                var item = "<tr><td>" + name + "</td><td>" + money + "</td></tr>";
                list.append(item);
            }
        </script>
    </body>
</html>
